<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成功加载</title>
</head>
<style>
    .fdiv{
        width: 950px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        background: bisque;
    }
    .tishi{
       padding-top: 50px;
    }
</style>
<body>
    <div class="fdiv">
        <center>
            <h1 class="tishi">您的商品已经成功加入购物车</h1>
            <a class="link p-name" href="./" target="_blank">
                <button class="jbut">继续购物</button>
            </a>
            <a class="link p-name" href="./shopping.html" target="_blank">
                <button class="qbut" >去购物车查看</button>
            </a>
        </center>
    </div>
</body>
</html>